<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Entry</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Dashboard</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/entries/add-entry" method="POST">
            <input type="number" name="weight" />
            <button type="submit">Add</button>
        </form>
    </main>
</body>
</html>